<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
  	<br />
	<h1>Honoring the pursuit of</h1>
	<br />
	<h2>Inner beauty through learning.</h2>
	<br />
	<%= link_to 'START YOUR JOURNEY', courses_path, class: 'btn btn-secondary' %>
	<br /><br />
  </div>
</div>

<div class="row feature text-center">
	<div class="col-12 col-sm">
<p class="main_context">
<span style="font-size: 25px">Welcome Home </span><br /><br />
Flixter Yoga is designed to help you feel better in body and mind.
Get unlimited access to the best online yoga and meditation.
<span style="font-size: 20px"><br /><br />Truth. Goodness. Beauty.</span>
</p>
<div class="main_bg"></div>
</div>
</div>


<br />
<div class="row feature text-center">
	<div class="col-12 col-sm">
	<div class="courses">
		<h3>Amazing Courses</h3>
		<br />
		<p>Choose from any number of courses to do yoga <br />with amazing instructors. </p>
			<%= image_tag 'yoga_4.jpg', class: 'img-fluid' %>
			</div>
	</div>

<div class="col-12 col-sm">
<div class="courses">
	<h3>Learn At Your Own Pace</h3>
	<br />
	<p>Enroll and access a courses archive of yoga lessons. </p>
	<br />
	<%= image_tag 'plant1.jpg', class: 'img-fluid' %>
	</div>
</div>

<div class="col-12 col-sm">
<div class="courses">
	<h3>Join our Community</h3>
	<br />
	<p>Learn with a community of like-minded individuals. </p>
	<br />
	<%= image_tag 'yoga5.png', class: 'img-fluid' %>
	</div>
</div>
</div>
